<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Students</title>
    <link rel="stylesheet" href="/css/List.css">
</head>
<body>
<div class="header">
    <div class="navigation">
        <form th:action="@{/university/groups/all-groups}" th:method="GET" style="display:inline;">
            <button type="submit" class="btn btn-back">Back to Groups</button>
        </form>
    </div>
    <h1 th:text="'Students List ' + ${group.name}"></h1>
    <form th:action="@{/university/{groupName}/students/create(groupName=${groupName})}" th:method="GET" style="display:inline;">
        <button type="submit" class="btn btn-create">Create Student</button>
    </form>
</div>

<table>
    <thead>
    <tr>
        <th>
            <a th:href="@{/university/{groupName}/students/all-students(groupName=${groupName},sortBy='surname',order=${currentOrder == 'asc' ? 'desc' : 'asc'})}">
                Surname
                <span th:if="${currentSort == 'surname'}" th:text="${currentOrder == 'asc' ? '▲' : '▼'}"></span>
            </a>
        </th>
        <th>
            <a th:href="@{/university/{groupName}/students/all-students(groupName=${groupName},sortBy='firstName',order=${currentOrder == 'asc' ? 'desc' : 'asc'})}">
                First Name
                <span th:if="${currentSort == 'firstName'}" th:text="${currentOrder == 'asc' ? '▲' : '▼'}"></span>
            </a>
        </th>
        <th>
            <a th:href="@{/university/{groupName}/students/all-students(groupName=${groupName},sortBy='patronymic',order=${currentOrder == 'asc' ? 'desc' : 'asc'})}">
                Patronymic
                <span th:if="${currentSort == 'patronymic'}" th:text="${currentOrder == 'asc' ? '▲' : '▼'}"></span>
            </a>
        </th>
        <th>
            <a th:href="@{/university/{groupName}/students/all-students(groupName=${groupName},sortBy='gender',order=${currentOrder == 'asc' ? 'desc' : 'asc'})}">
                Gender
                <span th:if="${currentSort == 'gender'}" th:text="${currentOrder == 'asc' ? '▲' : '▼'}"></span>
            </a>
        </th>
        <th>
            <a th:href="@{/university/{groupName}/students/all-students(groupName=${groupName},sortBy='birthday',order=${currentOrder == 'asc' ? 'desc' : 'asc'})}">
                Birthday
                <span th:if="${currentSort == 'birthday'}" th:text="${currentOrder == 'asc' ? '▲' : '▼'}"></span>
            </a>
        </th>
        <th>
            <a th:href="@{/university/{groupName}/students/all-students(groupName=${groupName},sortBy='formOfEducation',order=${currentOrder == 'asc' ? 'desc' : 'asc'})}">
                Form of Education
                <span th:if="${currentSort == 'formOfEducation'}" th:text="${currentOrder == 'asc' ? '▲' : '▼'}"></span>
            </a>
        </th>
        <th>
            <a th:href="@{/university/{groupName}/students/all-students(groupName=${groupName},sortBy='numberOfFailedExams',order=${currentOrder == 'asc' ? 'desc' : 'asc'})}">
                Number of Failed Exams
                <span th:if="${currentSort == 'numberOfFailedExams'}" th:text="${currentOrder == 'asc' ? '▲' : '▼'}"></span>
            </a>
        </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.surname}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.patronymic}"></td>
        <td th:text="${student.gender}"></td>
        <td th:text="${student.birthday}"></td>
        <td th:text="${student.formOfEducation}"></td>
        <td th:text="${student.numberOfFailedExams}"></td>
        <td>
            <form th:action="@{/university/{groupName}/students/{studentId}/edit(groupName=${groupName},studentId=${student.id})}" th:method="GET" style="display:inline;">
                <button type="submit" class="btn btn-edit">Edit</button>
            </form>
            <form th:action="@{/university/{groupName}/students/{studentId}/delete(groupName=${groupName},studentId=${student.id})}" th:method="DELETE" style="display:inline;">
                <button type="submit" class="btn btn-delete">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
