<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Groups</title>
    <link rel="stylesheet" href="/css/List.css">
</head>
<body>
<div class="header">
    <div class="navigation">
        <form th:action="@{/university/home}" th:method="GET" style="display:inline;">
            <button type="submit" class="btn btn-back">Back Home</button>
        </form>
    </div>
    <h1>Groups List</h1>
    <form th:action="@{/university/groups/create}" th:method="GET" style="display:inline;">
        <button type="submit" class="btn btn-create">Create New Group</button>
    </form>
</div>
<table>
    <thead>
    <tr>
        <th>
            <a th:href="@{/university/groups/all-groups(sortBy='course', order=${currentOrder == 'asc' ? 'desc' : 'asc'})}">
                Course
                <span th:if="${currentSort == 'course'}" th:text="${currentOrder == 'asc' ? '▲' : '▼'}"></span>
            </a>
        </th>
        <th>
            <a th:href="@{/university/groups/all-groups(sortBy='name', order=${currentOrder == 'asc' ? 'desc' : 'asc'})}">
                Name
                <span th:if="${currentSort == 'name'}" th:text="${currentOrder == 'asc' ? '▲' : '▼'}"></span>
            </a>
        </th>
        <th>
            <a th:href="@{/university/groups/all-groups(sortBy='formOfEducation', order=${currentOrder == 'asc' ? 'desc' : 'asc'})}">
                Form of Education
                <span th:if="${currentSort == 'formOfEducation'}" th:text="${currentOrder == 'asc' ? '▲' : '▼'}"></span>
            </a>
        </th>
        <th>
            <a th:href="@{/university/groups/all-groups(sortBy='speciality', order=${currentOrder == 'asc' ? 'desc' : 'asc'})}">
                Speciality
                <span th:if="${currentSort == 'speciality'}" th:text="${currentOrder == 'asc' ? '▲' : '▼'}"></span>
            </a>
        </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group : ${groups}">
        <td th:text="${group.course}"></td>
        <td th:text="${group.name}"></td>
        <td th:text="${group.formOfEducation}"></td>
        <td th:text="${group.speciality}"></td>
        <td>
            <form th:action="@{/university/{groupName}/students/all-students(groupName=${group.name})}" th:method="GET" style="display:inline;">
                <button type="submit" class="btn btn-view">View Students</button>
            </form>
            <form th:action="@{/university/groups/{groupName}/edit(groupName=${group.name})}" th:method="GET" style="display:inline;">
                <button type="submit" class="btn btn-edit">Edit</button>
            </form>
            <form th:action="@{/university/groups/{groupName}/delete(groupName=${group.name})}" th:method="DELETE" style="display:inline;">
                <button type="submit" class="btn btn-delete">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
